<employee-count *ngIf="employees" [all]="getTotalEmployeesCount()"
                [male]="getTotalMaleEmployeesCount()"
                [female]="getTotalFemaleEmployeesCount()"
                (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"
                ></employee-count>
<br /><br />
<table>

    <thead>
        <tr>
            <th>Index</th>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Is First</th>
            <th>Is Last</th>
            <th>Is Even</th>
            <th>Is Odd</th>
        </tr>

    </thead>
    <tbody>
        <ng-container *ngFor="let employee of employees; let i=index; let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd">
            <tr  *ngIf="selectedEmployeeCountRadioButton=='All'||selectedEmployeeCountRadioButton==employee.gender">

                <td>{{i}}</td>
                <td><a [routerLink]="['/employees',employee.code]">{{employee.code | uppercase}}</a></td>
                <td>{{employee.name | employeeTitle:employee.gender}}</td>
                <td>{{employee.gender | lowercase}}</td>
                <td>{{employee.dateOfBirth | date:'fullDate' }}</td>
                <td>{{isFirst}}</td>
                <td>{{isLast}}</td>
                <td>{{isEven}}</td>
                <td>{{isOdd}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!employees">
            <td colspan="5">
                {{statusMessage}}
            </td>
        </tr>

            <tr *ngIf="employees && employees.length==0">
                <td colspan="5">No employees to display</td>
            </tr>
        
    </tbody>


</table>
<br />